* {
  font-family: $font-family;
}
body {
  text-align: center;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

app-button,
app-icon {
  position: relative;
}

app-view {
  overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

app-button {
  float: left;
}

.clickable {
  cursor: pointer;
}

h2 app-icon {
  float: right;
}

.app-pop-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  text-align: center;
}

td.extra-action-td button {
  margin-left: 10px;
}
