/* Add application styles & imports to this file! */
* {
    font-family: $font-family;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $light-main-color;
  }