* {
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $light-main-color;
}

.app-views h1 {
  margin: 0;
  padding-top: 20px;
}

button {
  background-color: transparent;
  border: none;
}
