@import "../../../styles/variables.scss";

.app-icon-image {
  position: relative;
  top: 3px;
  font-size: 30px;
}

span.app-icon-circle {
  @include flexCenteredContainer;
  padding: 10px;
  border-radius: 100%;
}

.app-archive-view-icon{
  padding: 5px;
  background: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 9px;
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.app-archive-view-icon:hover {
  background: lightblue;
  border-color:lightblue ;
}

.active span {
  background: lightblue;
}
