@import "../../styles/variables.scss";

.app-archive  {
    width: 900px;
    padding: 10px;
    background: $light-main-color;
    border: $light-border-1;
    border-radius: 10px;
    text-align: left
}

th, td {
    padding: 5px;
    text-align: left;
}

.archive-td-icon {
    text-align: center;
}