@import "../../../styles/variables.scss";

.input-container {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 20px 0px;
    width: fit-content;
    background: $ligh-secondary-color;
    display: flex;
    align-items: center;
}

.app-text-input{
    border: none;
}

.app-text-input:focus {
    border: none;
    outline: none;
  }