@import "../../../styles/variables.scss";

.options-menu {
  overflow: hidden;
  width: fit-content;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
  top: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.options-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options-menu li {
  padding: 13px 25px;
  cursor: pointer;
}

.options-menu li app-icon {
    margin-right: 20px;
}

.options-menu li:hover {
  background-color: lightblue;
}

.options-menu li:last-child {
  border-top: 1px solid #ccc;
}

.options-menu li:last-child:hover {
  background-color: lightcoral;
}
