<div class="app-view-opener">
  <app-opener
    title="Home"
    desription="  In questa area sono riassunti alcuni dati rilevanti per la gestione
    dell'archvio bibliotecario."
  ></app-opener>
</div>
<!-- WIDGESTS -->
<div class="app-dashboard-container">
  <div class="app-widget-container">
    <h3 class="app-dashboard-title">Dashboard</h3>
    <app-widget
      [icon]="{
        name: 'auto_stories',
        color: '#0B3C5D',
        bgColor: '#99D3DF',
        classes: 'app-icon-circle'
      }"
      [total]="totalBooks"
      measure="Libri"
      title="Totale libri in archivio"
      classes="app-total-book-widget app-home-widget"
      >Loading...</app-widget
    >
    <app-widget
      [icon]="{
        name: 'outgoing_mail',
        color: '#025940',
        bgColor: '#04BF8A',
        classes: 'app-icon-circle'
      }"
      [total]="totalOnLoan"
      measure="prestati"
      title="Totale libri in prestito"
      classes="app-onloan-book-widget app-home-widget"
      >Loading...</app-widget
    >
  </div>
  <!-- LAST 5 BOOKS -->
  <div class="app-last-5">
    <h3>I nuovi arrivi</h3>
    <app-archive-viewer [items]="recentBooks"></app-archive-viewer>
  </div>
</div>
