
@import '../../styles/variables.scss';

.add-form {
    padding: 20px 50px 50px 50px;
    width: 50%;
    margin: auto;
    position: relative;
    top: 30%;
    background: $light-main-color ;
    border-radius: 20px;
}

.app-add-input-form {
    margin-left: 20px;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    background: $ligh-secondary-color;
    padding: 50px;
}


