@import "../../../styles/variables.scss";

.app-button-icon {
  @include flexCenteredContainer;
  background: $ligh-secondary-color;
  border: $light-border-1;
  border-radius: 5px;
  cursor: pointer;
  transition: $ease-in-out-sec03;
}

.app-button-icon:hover {
  background: $default-blue;
  border-color: $default-blue;
}
