.app-sigle-book {
    width: 20%;
    padding: 2%;
    margin: 6px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 280px;
    position: relative;
  }
  
  p.app-single-book-position {
    margin-bottom: 20px;
    font-size: 0.9em;
  }
  
  span.app-single-book-position-value {
    background: #f6f6f6;
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 900;
    color: #333;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  h3.app-single-book-title {
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  h4.app-single-book-author {
    color: #666;
    margin: 0;
  }
  
  span.app-icon-circle.app-icon-image.app-single-book-icon.material-symbols-rounded {
    display: inline;
    position: relative;
    top: 7px;
  }
  
  p.app-single-book-date {
    position: absolute;
    bottom: 20px;
  }
  
  p.app-single-book-date {
    font-size: 0.9em;
  }
  
  span.app-single-book-date-value {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  p.app-single-book-onLoan {
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background: #f6f6f6;
    border-radius: 10px;
  }
  