<h1 class="app-title app-home-title">Home</h1>
<p class="app-description">
  Archivio SSW. Questo portale serve al bibliotecario per gestire e monitorare i
  materiali presenti all'interno della biblioteca in modo digitale.
</p>

<div class="app-function-sections">
  <section class="app-archive-section app-function-section">
    <h3>L'Archivio</h3>
    <p>
      Esplora l'archivio digitale e tutte le copie dei libri che sono presenti
      al suo interno. In questa sezione sarà possibile anche effettuare
      richerche mirate all'interno di tutta la biblioteca.
    </p>
    <app-button
      label="Vedi Archivio"
      (click)="menuItemSelected.emit('archive')"
      class="app-home-archive-button app-home-button"
    ></app-button>
  </section>
  <section class="app-loan-section app-function-section">
    <h3>Gestione Prestiti</h3>
    <p>
      In questa area è possibile monitorare i prestiti dei materiali presenti
      nella biblioteca. Inoltre è possibile gestire il prestito di uno specifico
      libro nel caso in cui questo non sia già stato esemmo a qualcun'altro.
    </p>
    <app-button
      label="Gestici Prestiti"
      (click)="menuItemSelected.emit('loan')"
      class="app-home-loan-button app-home-button"
    ></app-button>
  </section>
</div>
<div class="app-widget-container">
  <app-widget
    [icon]="{
      name: 'auto_stories',
      color: '#0B3C5D',
      bgColor: '#99D3DF',
      classes: 'app-icon-circle'
    }"
    [total]="totalBooks"
    measure="Libri"
    title="Totale libri in archivio"
    classes="app-total-book-widget app-home-widget"
    >Loading...</app-widget
  >
  <app-widget
    [icon]="{
      name: 'outgoing_mail',
      color: '#025940',
      bgColor: '#04BF8A',
      classes: 'app-icon-circle'
    }"
    [total]="totalOnLoan"
    measure="prestati"
    title="Totale libri in prestito"
    classes="app-total-book-widget app-home-widget"
    >Loading...</app-widget
  >
</div>
